# weights/*
# out/*
# runs/*

env
data/MNIST/*
data/cifar-10-batches-py/*
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
loadconversion.py
loadtest.py
*.pt
